<section class='flex-center-vertical cover cover-author {{#if image}} cover--yes cover--author--yes' style='background-image: url({{image}}){{else}}cover--no{{/if}}'>
    <div class='container-cover wrap-center'>

        <header class="cover-author__header">
            
            <h1 class='cover-author__title cover-post__title'>
                {{title}}
            </h1>

            <time class="cover-author__post cover-post__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>


        </header>

        <footer class="cover-post__footer">
            
            {{#author}}
                
                <a href='{{url}}'>

                    <figure class="cover-post__image">
                        {{#if image}}
                        <img src="{{image}}" alt="{{name}}" class="cover-post__img">
                        {{/if}}

                        <figcaption class="cover-post__name">
                            <span class='cover-post__text'>{{name}}</span>
                        </figcaption>
                    </figure>

                </a>

            {{/author}}

        </footer>

        <a href='#main' class='cover__icon cover-author__icon-arrow icon-arrow-down'></a>

    </div>
</section>