{{#author}}

<section class='flex-center-vertical cover cover-author {{#if cover}} cover--yes cover--author--yes' style='background-image: url({{cover}}){{else}}cover--no{{/if}}'>
    <div class='container wrap-center'>

        <header class="cover-author__header">
            <h1 class='cover-author__title'>
                {{name}}
            </h1>

            {{!-- {{#if image}}
            <figure class="cover-author__image">
                <img src="{{image}}" alt="{{name}}" class="cover-author__img">
            </figure>
            {{/if}} --}}

            <span class="cover-author__post">
                <i class="cover-author__icon icon-post"></i>
                <span class="cover-author__text">{{plural ../pagination.total empty='Sin artículos' singular='% Artículo' plural='% Artículos'}}</span>
            </span>

        </header> 

        <section class="cover-author__bio">
            {{#if bio}}
            <p class="cover-author__description">{{bio}}</p>
            {{/if}}
        </section>

        <footer class="cover-author__footer">
            {{#if location}}
                <span class="cover-author__location">
                    <i class="cover-author__icon icon-map"></i>
                    <span class="cover-author__text">{{location}}</span>
                </span>
            {{/if}}

            {{#if website}}
                <span class="cover-author__website">
                    <i class="cover-author__icon icon-link"></i>
                    <a class="cover-author__link "href="{{website}}" target="_blank">{{website}}</a>
                </span>
            {{/if}}

            {{#if facebook}}
                <span class="cover-author__facebook">
                    <i class="cover-author__icon icon-facebook-2"></i>
                    <a class="cover-author__link" href="{{facebook_url}}" target="_blank">Facebook</a>
                </span>
            {{/if}}

            {{#if twitter}}
                <span class="cover-author__twitter">
                    <i class="cover-author__icon icon-twitter-2"></i>
                    <a class="cover-author__link" href="{{twitter_url}}" target="_blank">Twitter</a>
                </span>
            {{/if}}

        </footer>

        <a href='#' class='cover__icon icon-arrow-down'></a>

    </div>
</section>

{{/author}}