{{!-- Author block --}}
{{#author}}

{{!-- Cover --}}
<section class='flex-center-vertical cover cover-author {{#if cover_image}} cover--yes cover--author--yes' style='background-image: url({{cover_image}}){{else}}cover--no{{/if}}'>
    <div class='container-cover container-cover-author wrap-center'>

        {{!-- Author header --}}
        <header class='cover-author__header'>

            {{!-- Author image --}}
            {{#if profile_image}}
            <figure class='cover-author__image'>
                <img src='{{img_url profile_image}}' alt='{{name}}' class='cover-author__img'>
            </figure>
            {{/if}}

            {{!-- Author name --}}
            <h1 class='cover-author__title'>
                {{name}}
            </h1>

            {{!-- Author posts --}}
            <span class='cover-author__post'>
                <i class='cover-author__icon icon-post'></i>
                <span class='cover-author__text'>{{plural ../pagination.total empty='Sin artículos' singular='% Artículo' plural='% Artículos'}}</span>
            </span>

        </header>

        {{!-- Author section --}}
        <section class='cover-author__bio'>

            {{!-- Author biography --}}
            {{#if bio}}
            <p class='cover-author__description'>{{bio}}</p>
            {{/if}}

        </section>

        {{!-- Author footer --}}
        <footer class='cover-author__footer'>

            {{!-- Author location --}}
            {{#if location}}
                <span class='cover-author__location'>
                    <i class='cover-author__icon icon-map'></i>
                    <span class='cover-author__text'>{{location}}</span>
                </span>
            {{/if}}

            {{!-- Author website --}}
            {{#if website}}
                <span class='cover-author__website'>
                    <i class='cover-author__icon icon-link'></i>
                    <a class='cover-author__link' href='{{website}}' target='_blank'>{{website}}</a>
                </span>
            {{/if}}

            {{!-- Author facebook --}}
            {{#if facebook}}
                <span class='cover-author__facebook'>
                    <i class='cover-author__icon icon-facebook-2'></i>
                    <a class='cover-author__link' href='{{facebook_url}}' target='_blank'>Facebook</a>
                </span>
            {{/if}}

            {{!-- Author twitter --}}
            {{#if twitter}}
                <span class='cover-author__twitter'>
                    <i class='cover-author__icon icon-twitter-2'></i>
                    <a class='cover-author__link' href='{{twitter_url}}' target='_blank'>Twitter</a>
                </span>
            {{/if}}

        </footer>

        {{!-- Arrow-down (icon) --}}
        <a href='#' class='cover__icon cover-author__icon-arrow icon-arrow-down'></a>

    </div>
</section>

{{/author}}
