<header class='header'>
    <div class="flex-between">
        <div class="header__logo">
            <a href='{{@blog.url}}'>
                {{#if @blog.logo}}
                    <figure class='header__alepht'>
                        <img src='{{@blog.logo}}' alt='{{@blog.title}}' class='header__img'>
                    </figure>
                {{/if}}

                <p class='font-titillium header__title {{#if @blog.logo}}header__title-logo--yes{{else}}header__title-logo--no{{/if}}'>{{@blog.title}}</p>
            </a>
        </div>

        <div class='header__options'>

            <ul class="header__list">
                <li class="header__item">
                    <a href="#" class="header__option">
                        <span class="header__text">Frontend</span>
                    </a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__option">
                        <span class="header__text">Backend</span>
                    </a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__option">
                        <span class="header__text">DevOps</span>
                    </a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__option">
                        <span class="header__text">Bases de datos</span>
                    </a>
                </li>
                <li class="header__item">
                    <a href='#' class='header__option'>
                        <i class='header__icon icon-about-us'></i>
                        <span class='header__text'>Nosotros</span>
                    </a>
                </li>
                <li class="header__item">
                    <a href='#' class='header__option'>
                        <i class='header__icon icon-contact'></i>
                        <span class='header__text'>Contacto</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>